@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-fredoka: "Fredoka", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-beige-light: #E7CFBC;
  --color-pitch-black: #100B00;
}